* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  background-color: black;
}

.cell {
  height: 5px;
  width: 5px;
}

.cell-off {
  background-color: white;
  color: black;
}

.cell-on {
  background-color: black;
  color: white;
}

.turn-counter-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
}